@charset "utf-8";
body{
	padding:16px;
    background-color:#D4D7E9;
}
h3{
	color: #36475e;
    color: #cf1f48;
}
div.card{
	-webkit-box-shadow: 0 0 16px 0 RGBA(150,39,72,.2);
box-shadow: 0 0 16px 0 RGBA(150,39,72,.2);
	margin: 8px;
    padding: 8px;
    background-color:white;
    /*border: solid 1px RGBA(150,39,72,.4);* /
    border-left: solid 4px #362746;*/
    border-bottom: solid 8px #54476c;
}